.rulesSection {
  background: var(--bg); 
  padding-bottom: 4rem;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 1rem;     
  column-gap: 1rem;     
}

/* desktop 3 columns */
@media (min-width: 769px) {
  .grid > :last-child:nth-child(3n + 1) {
    grid-column: 2; /* center solo element */
  }
}

/* mobile 1 column */
@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr; /* one column */
  }
}

